<template>
  <div>
    <news-list :category="category"></news-list>
  </div>
</template>
<script>
import NewsList from './partials/NewsList.vue'
export default {
  name: 'category-detail',
  components: {
    'news-list': NewsList
  },
  computed: {
    category () {
      return this.$route.params.category
    }
  }
}
</script>
