<template>
<div>
  <v-layout
    text-xs-center
    row
    wrap
    class="home-page-wrapper"
    v-if="hasNetwork"
  >
    <v-flex xs12 sm6 class="pa-1" v-for="category in allCategories" :key="category">
      <!-- <pre>{{allCategories}}</pre> -->
      <news-list :category="category"></news-list>
    </v-flex>
  </v-layout>
  <v-layout row wrap text-xs-center v-else>
    <v-flex xs12 pa-4>
      <v-alert
        :value="true"
        color="error"
        icon="warning"
        outline
      >
        {{$t('You don\'t have internet connection.')}}
      </v-alert>
      <v-btn small primary @click="retryAgain">
        <v-icon small class="mr-1">refresh</v-icon> {{$t('Retry')}}
      </v-btn>
    </v-flex>
  </v-layout>
</div>
  
</template>

<script>
  import {mapGetters} from 'vuex'
  import NewsList from './partials/NewsList.vue'
  import { EventBus } from '../main'
  export default {
    data: () => ({
    }),
    components: {
      'news-list': NewsList
    },
    computed: {
      ...mapGetters(['allItems', 'allCategories', 'hasNetwork'])
    },
    watch: {
    },
    created () {
      // this.getLatestNews()
      // EventBus.$on('RECONNECT_AGAIN', hasNetwork => {
      //   if (!hasNetwork) {
      //     this.getLatestNews()
      //   }
      // })
    },
    methods: {
      getLatestNews () {
        this.$store.dispatch('GET_LATEST_NEWS_ITEMS').then(resp => {
          // console.log('GET_LATEST_NEWS_ITEMS response', resp)
        }).catch(err => {
          console.log('GET_LATEST_NEWS_ITEMS error:', err)
        })
      },
      retryAgain () {
        EventBus.$emit('RECONNECT_AGAIN', this.hasNetwork)
      }
    }
  }
</script>

<style>

</style>
