<template>
  <div>
    <v-card>
      <v-img
          :src="loadingImageURL"
          :height="$vuetify.breakpoint.xs ? '130px' : '150px'"
        >
        <div class="loading-text-wrapper">
          <h4 v-if="!$vuetify.breakpoint.xs" class="loading-card-title">{{loadingMsg || 'Loading...'}}</h4>
          <h5 v-else class="loading-card-title">{{loadingMsg || 'Loading...'}}</h5>
        </div>
      </v-img>
    </v-card>
  </div>
</template>
<script>
export default {
  name: 'loading-card',
  props: {
    loadingMsg: String
  },
  data () {
    return {
      loadingImageURL: '/dist/images/loading.gif'
    }
  }
}
</script>
<style>
.loading-text-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.loading-card-title {
  height: 2em;
  background-color: rgba(250,250,250,0.1);
  color: rgba(250,250,250,0.9)
}
</style>
