<template>
  <div class="news-list-wrapper">
    <v-layout row wrap>
      <v-flex xs6 sm4 class="pa-2 ml-0 text-xs-left">
        <h1>
          <router-link :to="{name: 'CategoryDetail', params: {category: category}}">{{$t(category || 'All')}}</router-link>
        </h1>
      </v-flex>
      <v-flex xs6 sm8 class="pa-1">
        <v-text-field
          class="single-line-field"
          label="Search"
          v-model="searchText"
          :placeholder="`Type to search ${category} here`"
          @input="searchChanged"
          append-icon="search"
        ></v-text-field>
      </v-flex>
      <v-flex :class="xsLayout" pa-1 v-for="item in sortedItems" :key="item.id">
        <news-card :item="item" :cardType="selectedCardLayout" @filter="filterItem"></news-card>
      </v-flex>
      <v-flex :class="xsLayout" pa-1 v-if="loading && searchText">
        <loading-card></loading-card>
      </v-flex>
      <v-flex xs12>
        <v-spacer></v-spacer>
        <v-btn flat v-if="isFiltered" @click="filteredItems = items;isFiltered = false">
          <v-icon>clear</v-icon>
          Clear filter
        </v-btn>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import {mapGetters} from 'vuex'
import NewsCard from './NewsCard.vue'
import LoadingCard from './LoadingCard.vue'
export default {
  name: 'news-list',
  props: {
    category: {
      type: String
    }
  },
  components: {
    'news-card': NewsCard,
    'loading-card': LoadingCard
  },
  data () {
    return {
      items: [],
      filteredItems: [],
      isFiltered: false,
      searchText: '',
      waitSearch: 0,
      loading: false
    }
  },
  computed: {
    ...mapGetters(['selectedCardLayout']),
    sortedItems () {
      return this.filteredItems.filter(a => a.image_url !== '').sort((a, b) => a.created_at > b.created_at ? -1 : 1) // .sort((a, b) => { return (a.image_url === '') > (b.image_url === '') ? 1 : -1 })
    },
    xsLayout () {
      let layout = this.selectedCardLayout
      switch (layout) {
        case 'grid':
          return 'xs6 sm4 news-grid-layout'
        case 'list':
          return 'xs12 news-list-layout'
        case 'cards':
          return 'xs12 sm6 news-cards-layout'
        default:
          return 'xs6 sm4 news-grid-layout'
      }
    }
  },
  watch: {
    category () {
      this.getCategoryNews()
    },
    items () {
      if (this.items) {
        this.filteredItems = this.items.slice()
      }
    }
  },
  created () {
    this.getCategoryNews()
  },
  methods: {
    searchChanged (e) {
      clearInterval(this.waitSearch)
      this.waitSearch = setTimeout(() => {
        // console.log('searchChanged', e)
        if (this.searchText.trim().length > 1) {
          this.filteredItems = this.filteredItems.filter(a => a.title.toLocaleLowerCase().indexOf(this.searchText.toLocaleLowerCase()) > -1)
          this.loading = true
          this.search(this.searchText)
        } else {
          this.filteredItems = this.items.slice()
        }
      }, 250)
    },
    search (text) {
      clearInterval(this.waitSearchRemove)
      let self = this
      this.waitSearchRemove = setTimeout(() => {
        self.$store.dispatch('GET_NEWS_BY_SEARCH', {category: self.category, q: self.searchText}).then(resp => {
          // console.log('search response', resp)
          self.filteredItems = resp.items
          self.loading = false
        }).catch(err => {
          console.log('search error:', err)
          self.loading = false
        })
      }, 1000)
    },
    filterItem (data) {
      // console.log('filterItem', data)
      if (!data) {
        return
      }
      if (data.filterType === 'website') {
        this.filteredItems = this.items.filter(a => a.website.url.toLocaleLowerCase() === data.filterText.toLocaleLowerCase())
        this.isFiltered = true
      }
    },
    getCategoryNews () {
      this.$store.dispatch('GET_NEWS_BY_CATEGORY', this.category).then(resp => {
        // console.log('GET_NEWS_BY_CATEGORY response', resp)
        if (resp) {
          this.items = resp.items
        }
      }).catch(err => {
        console.log('GET_NEWS_BY_CATEGORY error:', err)
      })
    }
  }
}
</script>
<style>
.news-list-wrapper {
  background-color: #ffffff;
}
</style>
