<template>
  <div>
    <v-dialog class="welcome-popup" v-model="show" scrollable persistent max-width="300px" transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar dark color="indigo">
          <v-toolbar-title>
            {{$t('Welcome')}}
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon dark @click="$emit('close')">
              <v-icon>close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-divider></v-divider>
        <v-card-text style="height: 100%;padding:1em;padding-top:0;">
          <div class="pt-2">
            <p>
              {{$t('Welcome to iWeydi News, please tell us your preferences before you procceed.')}}
            </p>
          </div>
          <div>
            <h3>{{$t('Choose language')}}</h3>
            <v-radio-group v-model="selectedLanguage">
              <v-radio
                v-for="lang in languages"
                :key="lang.key"
                :label="lang.name"
                :value="lang.key"
              ></v-radio>
            </v-radio-group>
          </div>
          <div>
            <h3>{{$t('Set notifications')}}</h3>
            <v-switch class="single-line-field ma-1" v-model="notificationPermission" :label="$t('Allow notifications')"></v-switch>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="primary ma-2" small @click="saveWelcome">
            <v-icon small class="mr-1">check_circle_outline</v-icon>
            {{$t('Save')}}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog> 
  </div>
</template>
<script>
export default {
  name: 'welcome-popup',
  props: {
    show: Boolean
  },
  data () {
    return {
      languages: [
        {name: 'English', key: 'en'},
        {name: 'Soomaali', key: 'so'}
      ],
      selectedLanguage: 'en',
      notificationPermission: false
    }
  },
  created () {
    this.selectedLanguage = (localStorage.getItem('lang')) || 'en'
    let permission = localStorage.getItem('notification_premission')
    this.notificationPermission = permission === 'granted'
  },
  watch: {
    selectedLanguage (lang) {
      this.$i18n.set(lang)
      localStorage.setItem('lang', lang)
    },
    notificationPermission (val) {
      if (val) {
        localStorage.setItem('notification_premission', 'granted')
      } else {
        localStorage.setItem('notification_premission', 'denied')
      }
    }
  },
  methods: {
    saveWelcome () {
      localStorage.setItem('showed_welcome_msg', 'yes')
      this.$emit('close')
    }
  }
}
</script>
<style>
.notification-controls .v-btn {
  text-transform: none;
  /* float: right; */
}
.v-btn.open-external-link {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
</style>
